body {

  font-family: "Courier New", Courier, monospace;

  display: flex;

  padding: 20px;

  letter-spacing: 0.15em;

  background-color: #efefef;

}

#page {

  margin: 10px auto 10px auto;

  padding: 20px;

  border: 4px double #000;

  background-color: #ffffff;

}

ul {

  width: 570px;

  padding: 15px;

  margin: 0px auto 0px auto;

  border-top: 2px solid #000;

  border-bottom:1px solid #000;

  text-align: center;

}

li {

  display: inline;

  margin: 0px 3px;

}

p {

  text-align: center;

  width: 600px;

  margin: 20px auto 20px auto;

  font-weight: normal;

}

a {

  color: #000000;

  text-transform: uppercase;

  text-decoration: none;

  padding: 6px 18px 5px 18px;

}

a:hover, a.on {

  color: #cc3333;

  background-color: #ffffff;

}

canvas {

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)

}
