* {

  font-family: monospace; courier;

  padding: 20px;

  margin: 0px;

}

body {

  border: 4px double #000;

}

h1.mainHeader {

  background-color: #bbbbbb;

}

h2.secondHeader {

  border: 4px double #000;

}
